@charset "UTF-8";
/* PARA ESTE PROYECTO ACTUAL DE JAVASCRIPT MODERNO */
body {
  overflow-x: hidden;
}

/* =================== VARIABLES ================== */
/* =================== MIXIN PARA SOMBRAS ================== */
/* =================== EXTEND PARA TARJETAS CON SOMBRA ================== */
.mimapa, .destacado {
  box-shadow: 0px 4px 30px rgb(0, 0, 0);
  border-radius: 20px;
}

/* =================== ESTILOS GENERALES ================== */
* {
  color: #665e03;
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =================== ENCABEZADO ================== */
header {
  background-image: url("../media/banner-deportivo.png");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  padding: 60px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  margin-left: 50px;
  width: 130px;
}
header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin-right: 500px;
}
header nav li {
  margin-left: 40px;
}
header nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  text-decoration: none;
  color: white;
}
.colortext{
  text-decoration: none;
  color: #200202;
}
.colortext:hover {
  color: #6e4003;
}

/* EFECTO IMAGEN */
.zoom-img {
  width: 200px;
  transition: transform 0.5s ease;
  cursor: zoom-in;
}

.zoom-img:hover {
  transform: scale(1.6);
}